APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack
LOG_LEVEL=debug

DB_CONNECTION=pgsql
# Soit DATABASE_URL (conseillé en prod) :
# DATABASE_URL="postgresql://USER:PASSWORD@HOST:5432/DB?sslmode=require"
# Soit variables séparées pour le local :
DB_HOST=localhost
DB_PORT=5432
DB_DATABASE=neondb
DB_USERNAME=neondb_owner
DB_PASSWORD=
DB_SSLMODE=require

SESSION_DRIVER=file
SESSION_LIFETIME=120

FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
CACHE_STORE=file

JWT_SECRET=
JWT_TTL=1440
